{% extends "base.html" %}

{% block head %}
<title>Common Services DevOps Server Inventory</title>
{% endblock %}

{% block body %}
<main>
  <wired-card elevation="5" >
    <h1>Create New Records</h1>
    <form method="POST" action="/">
		  <section>
        <input type="text" name="Hostname" placeholder="Hostname" required>
        <textarea name="Description" placeholder="Description of the Server..." rows="5" required></textarea>
		    <input type="text" name="Status" placeholder="Status" required>
        <button type="submit">ADD A NEW ENTRY</button>
        <button type="redirect" onclick="location.href='/'">BACK TO HOME PAGE</button>
      </section>
    </form>
  </wired-card>
</main>

<script type="module" src="https://unpkg.com/wired-elements?module"></script>
{% endblock %}