{% extends "base.html" %}

{% block head %}
<title>Common Services DevOps Server Inventory</title>
{% endblock %}

{% block body %}
<main>
  <wired-card elevation="5">
    <h1> Server Inventory </h1>
  </wired-card>
  <section>
    <wired-button id="add" onclick="location.href='/add_server'">Add New Server Details</wired-button>
    <wired-button id="view" onclick="location.href='/view_server'">View Records</wired-button>
  </section>
</main>

<script type="module" src="https://unpkg.com/wired-elements?module"></script>
{% endblock %}